<h1>Welcome <%= @user.username %></h1>
<% if @requests.length == 0 %>
I need internet access: <%= link_to  "Request internet access", new_request_path %>
<% else %>
<h2>My Internet Requests</h2>
<table>
<tr><td>Request Date/Time</td><td>Address</td><td>Actions</td></tr>
<% @requests.each do |req| %>
<tr><td><%= req.created_at %></td><td><%= req.address %></td>
<td><%= button_to  "Delete", delete_request_path(req.id), method: :post, data: { confirm: "Are you sure you want to delete this request?" } %></td></tr>
<% end %>
</table>
<% end %>

<% if @listings.length == 0 %>
I can provide internet to others: <%= link_to "Volunteer internet access", new_listing_path %>
<% else %>
<h2>Internet Offer Summary</h2>
<table>
<tr><td>Offer Date/Time</td><td>Address</td><td>Capacity</td><td>Actions</td></tr>
<% @listings.each do |listing| %>
<tr>
  <td><%= listing.created_at %></td>
  <td><%= listing.address %></td>
  <td><%= listing.capacity %></td>
  <td><%= button_to "Delete", delete_listing_path(listing.id), method: :post, data: { confirm: "Are you sure you want do remove this offer?" } %></td>
<tr>
<% end %>
</table>
<% end %>